{% extends "base.html" %}


{% block content %}
  <div class="payment_info">
    <div class="heading_and_button">
      <h2>Payments List</h2>
      <button type="button" name="button">New Payment</button>
    </div>

    <div class="payment_table_div">
      <table class="payment_table">
        <tr>
          <th>#</th>
          <th>Loan Reference Number</th>
          <th>Payee</th>
          <th>Amount</th>
          <th>Penalty</th>
          <th>Action</th>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
