{% extends "base.html" %}

{% block css_link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='users_page.css') }}">
{% endblock %}

{% block content %}

  <!-- ============================= User Window ============================= -->

  <div class="users_info">
    <div class="heading_and_button">
      <h2>Users List</h2>
      <div class="buttons_div">
        <button class="add_button" type="button" name="add_button">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
        </button>
        <button class="edit_button" type="button" name="edit_button">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button class="delete_button" type="button" name="delete_button">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <!-- ============================= User Table ============================= -->

    <div class="users_table_div">
      <table class="users_table table table-bordered">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created Date</th>
          <th>Updated Date</th>
        </tr>
        {% for member in members %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ member.first_name + ' ' + member.last_name }}</td>
            <td>{{ member._id }}</td>
            <td>{{ member.date_of_creation }}</td>
            <td>{{ member.date_of_update }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- ============================= Add User ============================= -->

  <div class="add_button_outter_form_div">
    <div class="add_button_inner_form_div">
      <div class="add_button_heading_div">
        <h2>Add User</h2>
      </div>
      <form class="add_button_form" action="/home/users/" method="POST">
        <div class="add_button_form_input_div">
          <input class="add_button_first_name" name="first_name" type="text" placeholder="First Name" required>
          <input class="add_button_last_name" name="last_name" type="text" placeholder="Last Name" required>
          <input class="add_button_email" name="email" type="email" placeholder="Email" required>
          <input class="add_button_password" name="password" type="password" placeholder="New Password" required>
          <span>Give Agent Permissions: <input name="has_permission" type="checkbox"></span>
          {% if current_user.is_admin %}
            <span>Give Admin Permissions: <input name="is_admin" type="checkbox"></span>
          {% endif %}
        </div>
        <div class="add_button_form_submit_btn_div">
          <!-- <button class="users_form_save_btn" onclick="window.location.href='/home/users'" type="submit" name="button">Save</button> -->
          <button class="btn btn-outline-success add_button_save_btn" type="submit" name="button">Save</button>
          <button class="btn btn-outline-secondary add_button_cancel_btn" type="button" name="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- ============================= Edit User ============================= -->

  <div class="edit_button_outter_form_div">
    <div class="edit_button_inner_email_form_div">
      <div class="edit_button_heading_email_div">
        <h2>Edit user with email</h2>
      </div>
      <form class="edit_button_email_form" action="/home/users/edit" method="POST">
        <div class="edit_button_form_input_email_div">
          <input class="edit_button_email" type="email" name="edit_button_email_input" placeholder="Email Here" required>
        </div>
        <div class="edit_button_form_email_submit_btn_div">
          <button class="btn btn-outline-info edit_button_email_continue_btn" type="submit" name="button">Continue</button>
          <button class="btn btn-outline-secondary edit_button_email_cancel_btn" type="button" name="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- ============================= Delete User ============================= -->

  <div class="delete_button_outter_form_div">
    <div class="delete_button_inner_form_div">
      <div class="delete_button_heading_div">
        <h2>Delete user with email</h2>
      </div>
      <form class="delete_button_form" action="/delete-user" method="POST">
        <div class="delete_button_form_input_div">
          <input class="delete_button_email" type="email" name="delete_button_email_input" placeholder="Email Here" required>
        </div>
        <div class="delete_button_form_submit_btn_div">
          <button class="btn btn-outline-danger delete_button_delete_btn" type="submit" name="button">Delete</button>
          <button class="btn btn-outline-secondary delete_button_cancel_btn" type="button" name="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- ============================= Javascript ============================= -->

  <script type="text/javascript">

  // ============================ Add Button Scripts ============================

    document.querySelector('.add_button').onclick = () => {
      document.querySelector('.add_button_outter_form_div').style.cssText = "opacity: 1; visibility: visible";
      document.querySelector('.add_button_first_name').value = '';
      document.querySelector('.add_button_last_name').value = '';
      document.querySelector('.add_button_email').value = '';
      document.querySelector('.add_button_password').value = '';
    }

    document.querySelector('.add_button_cancel_btn', '.add_button_save_btn').onclick = () => {
      document.querySelector('.add_button_outter_form_div').style.cssText = "opacity: 0; visibility: hidden";
    }

  // ============================ Delete Button Scripts ============================

    document.querySelector('.delete_button').onclick = () => {
      document.querySelector('.delete_button_outter_form_div').style.cssText = "opacity: 1; visibility: visible";
      document.querySelector('.delete_button_email').value = '';
    }

    document.querySelector('.delete_button_cancel_btn', '.delete_button_delete_btn').onclick = () => {
      document.querySelector('.delete_button_outter_form_div').style.cssText = "opacity: 0; visibility: hidden";
    }

  // ============================ Edit Button Scripts ============================

    document.querySelector('.edit_button').onclick = () => {
      document.querySelector('.edit_button_outter_form_div').style.cssText = "opacity: 1; visibility: visible";
      document.querySelector('.edit_button_email').value = '';
    }

    document.querySelector('.edit_button_email_cancel_btn').onclick = () => {
      document.querySelector('.edit_button_outter_form_div').style.cssText = "opacity: 0; visibility: hidden";
    }

  </script>
{% endblock %}
